.reveal .slides section {
  &.center, .center {
    text-align: center;
  }

  .big-text {
    font-size: 3em;
  }

  &.sfeir-basic-slide {
    .center-big {
      text-align: center;
      font-size: 2.5em;
      color: black;
    }
    h1.center-big {
      font-size: 3em;
    }
  }

  &.with-code,
  &.with-code-dark {
    pre.big-code:not(.literal) {
      position: relative;
      top: 0;
    }
  }
}

.reveal pre code {
  max-height: 800px!important;
}

.reveal .slides section.exercice {
  ul {
    font-size: 1.4em!important;

    ul {
      font-size: 1em!important;
    }
  }
}
